{% extends 'gallery/base.html' %}
{% load static %}
{% block content %}
    <div class="pagina-inicial">
        <main class="principal">
            {% include 'gallery/partials/_nav.html' %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
                    <h1 class="banner__titulo">The most comprehensive gallery of space photos!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Search by tags: </p>
                    <ul class="tags__lista">
                        <li class="tags__tag">Nebula</li>
                        <li class="tags__tag">Star</li>
                        <li class="tags__tag">Galaxy</li>
                        <li class="tags__tag">Planet</li>
                        <li class="tags__tag">Earth</li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Browse the gallery</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for photo in cards %}
                            <li class="card">
                                <a href="{% url 'imagem' photo.id %}">
                                    {% if photo.path == "" or photo.path == null %}
                                        <img class="card__imagem" src="{% static '/assets/imagens/galeria/not_found.png' %}" alt="foto">
                                    {% else %}
                                        <img class="card__imagem" src="{{ photo.path.url }}" alt="foto">
                                    {% endif %}
                                </a>
                                <span class="card__tag">{{ photo.get_category_display }}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ photo.name }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ photo.legend }}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                                <div class="imagem__texto">
                                    <p>Photos not found</p>
                                </div>
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}